$main-font: 'Roboto', sans-serif;
$alt-font: 'Roboto Condensed', sans-serif;

// MAIN COLOUR PALLET
$mainColor: #2e2e2e;
$seconadaryColor: #c2bcbc;
$highlight: #ffffff;
$lowlight: #141416;

$textcolor: #ffffff;

$buttonBackground: #e28c3c;
$buttonHover: #a16125;


// SCREEN SIZES

$sm: '640px';
$md: '768px';
$lg: '1024px';
$xl: '1280px';
$xxl: '1536px';